In [1]:
print("Hello, python!")

Hello, python!

In [2]:
print("Atia")

Atia

In [3]:
print(Atia)

NameError: name 'Atia' is not defined

In [4]:
print"Atia"

SyntaxError: invalid syntax (<ipython-input-4-04b7fce674a3>, line 1)

In [5]:
print('Atia')

Atia

In [6]:
print("Hello,");print("Atia")

Hello,
Atia

In [7]:
print("Hello,")print("Atia")

SyntaxError: invalid syntax (<ipython-input-7-93b0bfcd35a7>, line 1)

In [8]:
print("Programming", "Essentials", "in", sep="***", end="...")
print("Python")

Programming***Essentials***in...Python

In [10]:
print("    *   ")
print("   * *   ")
print("  *   *  ")
print(" *     * ")
print("***   ***")
print("  *   *  ")
print("  *   *  ")
print("  *****  ")

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [11]:
print('"I\'m"')
print("\"\"Learning\"\"")
print('"""Python"""')

"I'm"
""Learning""
"""Python"""

In [12]:
bin(12)

'0b1100'

In [13]:
0b1011

11

In [15]:
print((2 ** 4), (2 * 4.), (2 * 4))
print((-2 / 4), (2 / 4), (-2 // 4), (2 // 4))
print((2 % -4), (2 % 4), (2 ** 3 ** 2))

16 8.0 8
-0.5 0.5 -1 0
-2 2 512

In [33]:
john = 3
mary = 5
adam = 6
print("John's Apples = ", john, ", ", "Mary's Apples = ", mary, ", ", "Adam's Apples = ", adam)
totalApples = john + mary + adam
print("Total Apples is ", totalApples)
print()
print("john * mary * adam = ", john * mary * adam)
print("\n")
print("Total Apples / john = ", round(totalApples / john, 2), "\nTotal Apples / mary = ", round(totalApples / mary, 2),
      "\nTotal Apples / adam = ", round(totalApples / adam, 2))
print()
print("Total Apples // john = ", totalApples // john, "\nTotal Apples // mary = ", totalApples // mary,
      "\nTotal Apples // adam = ", totalApples // adam)
print()
print("Total Apples % john = ", totalApples % john, "\nTotal Apples % mary = ", totalApples % mary,
      "\nTotal Apples % adam = ", totalApples % adam)

John's Apples =  3 ,  Mary's Apples =  5 ,  Adam's Apples =  6
Total Apples is  14

john * mary * adam =  90


Total Apples / john =  4.67
Total Apples / mary =  2.8
Total Apples / adam =  2.33

Total Apples // john =  4
Total Apples // mary =  2
Total Apples // adam =  2

Total Apples % john =  2
Total Apples % mary =  4
Total Apples % adam =  2

In [36]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = 1.609344 * miles
kilometers_to_miles = 0.6213711922 * kilometers

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

In [39]:
x = 0
y = 3 * (x ** 3) - 2 * (x ** 2) + 3 * x - 1
print("y = ", float(y))

y =  -1.0

In [40]:
x = 1
y = 3 * (x ** 3) - 2 * (x ** 2) + 3 * x - 1
print("y = ", float(y))

y =  3.0

In [41]:
x = -1
y = 3 * (x ** 3) - 2 * (x ** 2) + 3 * x - 1
print("y = ", float(y))

y =  -9.0

In [43]:
hour = int(input("Starting time (hour): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Even durations (minutes): "))

h = hour + ((mins + dura) // 60)
hours = h - (24 * (h // 24)) 
minutes = (mins + dura) % 60

print("It will be end at ", str(hours), ": ", str(minutes))

Starting time (hour): 12
Starting time (minutes): 17
Even durations (minutes): 59
It will be end at  13 :  16

In [44]:
hour = int(input("Starting time (hour): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Even durations (minutes): "))

h = hour + ((mins + dura) // 60)
hours = h - (24 * (h // 24)) 
minutes = (mins + dura) % 60

print("It will be end at ", str(hours), ": ", str(minutes))

Starting time (hour): 23
Starting time (minutes): 58
Even durations (minutes): 642
It will be end at  10 :  40

In [45]:
hour = int(input("Starting time (hour): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Even durations (minutes): "))

h = hour + ((mins + dura) // 60)
hours = h - (24 * (h // 24)) 
minutes = (mins + dura) % 60

print("It will be end at ", str(hours), ": ", str(minutes))

Starting time (hour): 0
Starting time (minutes): 1
Even durations (minutes): 2939
It will be end at  1 :  0

In [46]:
# Tes Modul 2

In [47]:
x = input("Masukkan nilai x: ")
y = input("Masukkan nilai y: ")
print("Nilai x+y adalah ", (x+y))

Masukkan nilai x: 2
Masukkan nilai y: 3
Nilai x+y adalah  23

In [48]:
x = 1
y = 2
z = x
x = y
y = z
print(x, y)

2 1

In [49]:
x = input("Masukkan nilai x: ")
y = int(input("Masukkan nilai y: "))
print("Nilai x*y adalah ", (x*y))

Masukkan nilai x: 3
Masukkan nilai y: 6
Nilai x*y adalah  333333

In [50]:
x=y=z=1
print(x,y,z, sep="*")

1*1*1

In [55]:
1 // 2 * 3 # Menghasilkan bilangan integer

0

In [52]:
x = int(input("Masukkan nilai x: "))
y = int(input("Masukkan nilai y: "))
print("Nilai x*y adalah ", (x*y))

Masukkan nilai x: 2
Masukkan nilai y: 4
Nilai x*y adalah  8

In [54]:
y = 2 + 3 * 5. # Menghasilkan float
print(y)

17.0

In [56]:
x = int(input("Masukkan nilai x: "))
y = int(input("Masukkan nilai y: "))
x = x / y
y = y / x
print("Nilai y adalah ", y)

Masukkan nilai x: 2
Masukkan nilai y: 4
Nilai y adalah  8.0

In [57]:
x = int(input("Masukkan nilai x: "))
y = int(input("Masukkan nilai y: "))
x = x // y
y = y // x
print("Nilai y adalah ", y)

Masukkan nilai x: 2
Masukkan nilai y: 4

ZeroDivisionError: integer division or modulo by zero

In [58]:
x = int(input("Masukkan nilai x: "))
y = int(input("Masukkan nilai y: "))
x = x % y
y = y % x
print("Nilai y adalah ", y)

Masukkan nilai x: 11
Masukkan nilai y: 4
Nilai y adalah  1

In [59]:
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)

17.5